# Dépendances
node_modules/
package-lock.json

# Environnement et Sécurité
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système d'exploitation
.DS_Store
Thumbs.db

# Dossiers générés par l'IDE (optionnel mais recommandé)
.vscode/
.idea/

# Uploads (si tu ne veux pas versionner les fichiers uploadés par les utilisateurs)
uploads/